.date {
    height: 20px;
    width: 158px;
    background-color: #5555552b;
    border-radius: 6%;
}

.mat-chip {
    font-size: 13px;
    font-weight: 500;
  }

  .mat-chip.mat-standard-chip {
    background-color:rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.63);
  }
  body {
    margin: 0px;
  }
  // .matcard {
  //  // padding: 5px;
  //   /* transform: none;
  //   margin-left: 523px;
  //   height: 146px;
  //   margin-top: 200px;
  //   width: 564px; */
  // }

  .mat-dialog-container {
    padding: 0px;
    overflow: visible;
}
  