<div fxLayout="row"  fxLayoutAlign="center center">
    
  <mat-card fxFlex="30" fxFlex.sm="30"    fxFlex.xs="100">


      <mat-toolbar color="primary" fxLayoutAlign="center center">
          <span>Session Expired</span>
      </mat-toolbar>
      <br>


      <div fxLayout="column">
          <mat-form-field appearance="outline" fxLayoutAlign="center center">
              <label>Reset link has expired</label>
          </mat-form-field>


      </div>


      <div fxLayout="row" fxLayoutAlign="center center">
        <a mat-button color="primary" routerLink="../login">click here to go back to login page</a>      
      </div>


  </mat-card>
</div>
