<div fxLayout="row"  fxLayoutAlign="center center">
    
  <mat-card fxFlex="30" fxFlex.sm="30"    fxFlex.xs="100">


      <mat-toolbar color="primary" fxLayoutAlign="center center">
          <span>Forgot your password?</span>
      </mat-toolbar>
      <br>


          <div fxLayout="column">
              <mat-form-field appearance="outline">
                  <mat-label>Enter your email id</mat-label>
                  <input matInput placeholder="Enter the email id" [formControl]="email"  required>
                  <mat-icon matSuffix>email</mat-icon>
                  <mat-error *ngIf="email.hasError('required')">Email id is required</mat-error>
                  <mat-error *ngIf="email.hasError('email')">Please Enter Correct Email format</mat-error>
              </mat-form-field>


          </div>


              <div fxLayout="row" fxLayoutAlign="center center">
                 <button mat-flat-button color ="primary" (click)="forgot()">Reset</button>
              </div>

          

  </mat-card>
</div>