
.note {
    width: 643px;
    padding: 14px;
    margin-top: -564px;
    // height: 25px;
    font-size: 17px;
    border-radius: 9px;
    margin-left: 290px;
  }
  
  .notes {
    width: 643px;
    padding: 14px;
    margin-top: -564px;
    // height: 145px;
    font-size: 17px;
    border-radius: 9px;
    margin-left: 290px;
  }
  
    .mat-card:not([class*=mat-elevation-z]) {
      box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 8px 5px rgba(0,0,0,.12);
  }
  
  .maintitle {
    margin-left: -8px;
    margin-top: -15px;
  }
  .addnote {
    width: 10px;
    margin-left: 91%;
    margin-top: -10%;
  }
  
  
  // .notescard{
  
  //     margin-top: 71px;
  //     display: inline-block;
  //     margin-left: -80px;
  //     margin-right: 138px;
  //     // height: 127px;
  //     width: 205px;
  //     padding-left: 39px;
  //     padding-top: 9px;
  //     color: #7E858A;
  //     font-family: 'Product Sans',Arial,sans-serif;
  //     font-size: 16px;
  // }
    .noteList{
    margin-left: -645px;
    margin-top: -14px;
    width: 1000px;
    height: 400px;
    display: inline-block;
    color:#7E858A;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 15px;
    }
    
    element.style {
      margin-top: -561px;
      margin-left: 880px;
  }
  
  .colorlens {
      width: 29px;
      height: 30px;
      margin-right: 4px;
      margin-bottom: 5px;
      margin-left: 4px;
      margin-top: 5px;
  }
  
  .example-chip-list {
   margin-top: 10px;
  }
  
  .mat-chip.mat-standard-chip {
    background-color:rgba(0,0,0,0.08);
    color: rgba(0, 0, 0, 0.63);
  }
  
  .mat-chip {
    font-size: 13px;
    font-weight: 500;
  }
  
  .row {
    margin-top: 49px;
    display: inline-block;
    margin-left: -80px;
    margin-right: 138px;
    // height: 127px;
    width: 205px;
    padding-left: 39px;
    padding-top: 9px;
    color: #7E858A;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 16px;
    border-radius: 9px;
  }
  
  .column {
    margin-top: 49px;
    display: inline-block;
    margin-left: -85px;
    margin-right: 138px;
    // height: 127px;
    width: 617px;
    padding-left: 39px;
    padding-top: 9px;
    color: #7E858A;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 16px;
    border-radius: 9px;
  }
  
  .dateVisible{
    visibility: none;
  }
  
  .dateInvisible{
    visibility: hidden;
  }
  
  .displayButton {
    display: none;
  }
  
  .gridcard:hover .displayButton, .displayButton:hover {
    display: inline;
  }