<div fxLayout="row"  fxLayoutAlign="center center">
    
    <mat-card fxFlex="30" fxFlex.sm="30"    fxFlex.xs="100">


        <mat-toolbar color="primary" fxLayoutAlign="center center">
            <span>Login</span>
        </mat-toolbar>
        <br>


            <div fxLayout="column">
                <mat-form-field appearance="outline">
                    <mat-label>Email-id</mat-label>
                    <input matInput placeholder="Enter your email" [formControl]="email"  required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="email.hasError('required')">Email id is required</mat-error>
                    <mat-error *ngIf="email.hasError('email')">Please Enter Correct Email format</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [formControl]="password" autocomplete="off" required>                    
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
                </mat-form-field>
            </div>
            
                <div><mat-error>{{message}}</mat-error></div>

                <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="loginbtn" mat-raised-button (click)="login()">Login</button>
                </div>

                <br>
                
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button mat-raised-button routerLink="../register">Register</button>
                </div>
            

    </mat-card>
</div>