
<!-- <div fxLayout="row wrap" style="width:100%; height: 90%;"> -->
    <p fxLayoutAlign="center center" fxLayout="row wrap" style="width:100%; height: 90%">
      
      <div *ngIf="flag===true" (click)="flip()" >
        <mat-card class="note" >
            <div style="margin-bottom: -30px;" (click)=flip() *ngIf="flag==true">
                <mat-form-field appearance="null">
                  <input matInput  style="margin-bottom: 17px;margin-top: -30%;" placeholder="Take a note..." />
                </mat-form-field>
            </div>
            <div style="margin-top:-80px;" fxLayout = "row" fxLayoutAlign="end start">
              <button mat-icon-button><mat-icon matTooltip="New List">check_box</mat-icon></button> 
              <button mat-icon-button><mat-icon matTooltip="New note with Drawing">brush</mat-icon></button>
              <button mat-icon-button><mat-icon matTooltip="New note with image"><img src="../../assets/img/fundoAssests/photo.svg " /></mat-icon></button>           
            </div>
        </mat-card>
      </div>

      <div *ngIf="flag===false" >
              <mat-card class="notes" [ngStyle]="{ 'background-color': color }" >
              <input style=" width: 91%;margin-left: 10px;margin-bottom: 10px" matInput  placeholder="Title" [formControl]="title"/>
              <button style="padding-top: 5px;" mat-icon-button>
              <mat-icon matSuffix><img src="../../assets/img/fundoAssests/pin-outline.svg"/></mat-icon>
              </button>
              <input role="textarea" style ="margin-top: 15px; margin-left: 10px;" matInput  placeholder="Take a note" [formControl]="noteContent" />
              
              
                <!-- <div style="margin-left: 7px;"> -->
                  <div style = 'margin-bottom: -33px;margin-left: 7px;margin-top: 10px;'>
                  <!-- <button  mat-icon-button *ngIf = "timer"><mat-icon>timer</mat-icon>{{currentDateAndTime}}</button> -->
                  <mat-chip-list>
                      <mat-chip  *ngIf = "timer"><mat-icon style = "margin-right: 10px;margin-left: -9px;">timer</mat-icon>{{currentDateAndTime}}</mat-chip>
                  </mat-chip-list>
                </div>
                
                <!-- </div> -->
              <!-- <div style="margin-top: -33px;"> -->
                <button id="Remaind" [matMenuTriggerFor]="remainder" matTooltip="Remind me" mat-button style='padding-left: 0px;margin-bottom: -80px;margin-top: 30px;'>
                  <mat-icon > <img src="../../assets/img/fundoAssests/remainder.svg" /></mat-icon>
                </button> 

                <mat-menu [overlapTrigger]="false" #remainder="matMenu">
                  <button mat-menu-item>Remainder:</button>
                  <button mat-menu-item (click)="today(01)">Later today 8:00PM</button>
                  <button mat-menu-item (click)="tomorrow(01)">Tomorrow 8:00PM</button>
                  <button mat-menu-item (click)="nextWeek(01)">Next week Mon,8:00pm</button>
                  <button mat-menu-item  [matMenuTriggerFor]="menu6">
                    <mat-icon><img src="../../assets/img/fundoAssests/timer.svg " /></mat-icon>Pick date & time
                  </button>
                  <mat-menu #menu6="matMenu">
               
                      <mat-nav-list>
                          <mat-list role="List">
                    <div class="pickdate">
    
                    <mat-list-item id="pickAdjust">
    
                        <span>Pick date and Time </span>
                       </mat-list-item>
                    
                      </div>
    
                      <mat-list-item>
                          <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl] = "chooseDate">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                            </mat-list-item>
                    
                      <button mat-menu-item [matMenuTriggerFor]="menu9">Pick Time </button>
                      <mat-menu #menu9="matMenu">
                          <button mat-menu-item (click) = "choosingDate('morning')">
                            <span>Morning<span class="time8"> 8:00AM</span></span>
                          </button>
                          <button mat-menu-item (click) = "choosingDate('afternoon')">
                            <span>Afternoon 1:00PM</span>
                          </button>
                          <button mat-menu-item (click) = "choosingDate('evening')">
                            <span>Evening 6:00PM</span>
                          </button>
                          <button mat-menu-item (click) = "choosingDate('night')">
                            <span>Night 8:00PM</span>
                          </button>
                        </mat-menu>
                      <mat-list-item>
                        <button mat-menu-item [matMenuTriggerFor]="menu10">Does not repeat</button>
                         <mat-menu #menu10="matMenu">
                           <button mat-menu-item>
                             <span>Does not repeat</span>
                           </button>
    
                           <button  mat-menu-item >
                              <span>Daily</span>
                            </button>
                           <button  mat-menu-item >
                             <span>weekly</span>
                           </button>
                           <button  mat-menu-item >
                             <span>Monthly</span>
                           </button>
                           <button  mat-menu-item >
                             <span>Yearly</span>
                           </button>
                           <button  mat-menu-item >
                              <span>Custom</span>
                            </button>
                         </mat-menu>
                       
                      </mat-list-item>
    
                      </mat-list>
                    </mat-nav-list>
                     
                  </mat-menu>
                </mat-menu>
            
                <button id="Remaind" matTooltip="Collaborator" mat-icon-button style='padding-right: 30px;margin-bottom: -80px;margin-top: 35px;'>
                  <mat-icon > <img src="../../assets/img/fundoAssests/person.svg" /></mat-icon>
                </button> 
                
                <button matTooltip="Change color" [matMenuTriggerFor]="buttonMenu" mat-icon-button style='padding-left: 16px;padding-right: 30px;margin-bottom: -80px;margin-top: 20px;'>
                  <mat-icon > <img src="../../assets/img/fundoAssests/colorlens.svg" /></mat-icon>
                </button> 
                
                <mat-menu [overlapTrigger]="false" #buttonMenu="matMenu">
                  <button matTooltip="Yellow" (click)="setColorToTitle('#fcf476')" mat-mini-fab class="colorlens" style="background-color:#fcf476"></button>
                  <button matTooltip="Orange" (click)="setColorToTitle('#f8bc04')" mat-mini-fab class="colorlens" style="background-color:#f8bc04 "></button>
                  <button matTooltip="Red" (click)="setColorToTitle('#f28b82 ')" mat-mini-fab class="colorlens" style="background-color:#f28b82 "></button>
                  <button matTooltip="White" (click)="setColorToTitle('#ffffff ')" mat-mini-fab class="colorlens" style="background-color:#ffffff "></button>
                  <br />
                  <button matTooltip="Dark blue" (click)="setColorToTitle('#aecbfa ')" mat-mini-fab class="colorlens" style="background-color:#aecbfa "></button>
                  <button matTooltip="Blue" (click)="setColorToTitle('#cbf0f8 ')" mat-mini-fab class="colorlens" style="background-color:#cbf0f8 "></button>
                  <button matTooltip="Teal" (click)="setColorToTitle('#a7ffea ')" mat-mini-fab class="colorlens" style="background-color:#a7ffea "></button>
                  <button matTooltip="Green" (click)="setColorToTitle('#ccff90 ')" mat-mini-fab class="colorlens" style="background-color:#ccff90 "></button>
                  <br />
                  <button matTooltip="Gray" (click)="setColorToTitle('#e8eaed')" mat-mini-fab class="colorlens" style="background-color:#e8eaed "></button>
                  <button matTooltip="Brown" (click)="setColorToTitle('#e6c9a8 ')" mat-mini-fab class="colorlens" style="background-color:#e6c9a8 "></button>
                  <button matTooltip="Pink" (click)="setColorToTitle('#fccfe8 ')" mat-mini-fab class="colorlens" style="background-color:#fccfe8 "></button>
                  <button matTooltip="Purple" (click)="setColorToTitle('#d7aefb ')" mat-mini-fab class="colorlens" style="background-color:#d7aefb "></button>
                </mat-menu>
                
                <button id="Add image" matTooltip="Add image" mat-icon-button style='padding-left: 30px;padding-right: 30px;margin-bottom: -80px;margin-top: 20px;'>
                  <mat-icon > <img src="../../assets/img/fundoAssests/photo.svg" /></mat-icon>
                </button> 
                  <button id="Remaind" matTooltip="Archive" mat-icon-button style='padding-left: 30px;padding-right: 30px;margin-bottom: -80px;margin-top: 20px;'>
                    <mat-icon > <img src="../../assets/img/fundoAssests/archive2.svg" /></mat-icon>
                </button> 
                <button id="More" matTooltip="More" mat-icon-button [matMenuTriggerFor]="auth" style='padding-left: 30px;padding-right: 30px;margin-bottom: -80px;margin-top: 20px;'>
                  <mat-icon> <img src="../../assets/img/fundoAssests/more.svg" /></mat-icon>
                </button> 
              <mat-menu #auth="matMenu">
                  <button (click)="deleteNote(n)" mat-menu-item>Delete note</button> 
                  <button mat-menu-item>Add label</button>
                  <button mat-menu-item>Add drawing</button>
                  <button mat-menu-item>Make a copy</button>
                  <button mat-menu-item>Show checkboxes</button>
                  <button mat-menu-item>Copy to Google Docs</button>
              </mat-menu>
              <button  style='margin-left: 222px;margin-bottom: -80px;margin-top: 20px;' id="Close" matTooltip="Close" mat-button (click)="addNote()">close</button> 
              </mat-card>
                 
      </div>
     
      <div style="margin-left: 880px;">
          <mat-grid-list cols = "4" rowHeight="3:1" class="noteList" >

            <div fxLayout="{{layout}}" fxLayoutAlign="center center">
            <mat-card class="gridcard"  *ngFor="let n of note" [ngClass]="direction == 'row' ? 'row': 'column' "  [ngStyle]="{ 'background-color': n.color }">
                <div (click) = "openDialog(n)" ><p style="margin-top: 10px;margin-left: -17px;">{{n.title}}</p><p style="font-size: 20px;margin-left: -17px;">{{n.noteContent}}<p style="margin-top: -10px;margin-left: -21px;"><mat-chip-list [ngClass] = "n.date != '' ? 'dateVisible':'dateInvisible'"><mat-chip><mat-icon style = "margin-right: 10px;margin-left: -9px;">timer</mat-icon>{{n.date}}</mat-chip></mat-chip-list></p>
              <!-- <div style = 'margin-bottom: -5px;margin-top: -22px;margin-left: -5px;'>
                <button  mat-icon-button *ngIf = "timer"><mat-icon>timer</mat-icon>{{currentDateAndTime}}</button>
              </div> -->
              </div>
              <div style="margin-left: -31px;margin-right: -4px;margin-top: -18px;">
                <button matTooltip="Remind me" mat-icon-button [matMenuTriggerFor]="remainder" >
                  <mat-icon > <img src="../../assets/img/fundoAssests/remainder.svg" /></mat-icon>
                </button> 
               
                <mat-menu  #remainder="matMenu">
                  <button mat-menu-item>Remainder:</button>
                  <button mat-menu-item (click)="today(n)">Later today 8:00PM</button>
                  <button mat-menu-item (click)="tomorrow(n)">Tomorrow 8:00PM</button>
                  <button mat-menu-item (click)="nextWeek(n)">Next week Mon,8:00pm</button>
  
                  <button mat-menu-item  [matMenuTriggerFor]="menu6">
                    <mat-icon><img src="../../assets/img/fundoAssests/timer.svg " /></mat-icon>Pick date & time
                  </button>
                  <mat-menu #menu6="matMenu">
               
                      <mat-nav-list>
                          <mat-list role="List">
                    <div class="pickdate">
    
                    <mat-list-item id="pickAdjust">
    
                        <span>Pick date and Time </span>
                       </mat-list-item>
                    
                      </div>
    
                      <mat-list-item>
                          <mat-form-field class="example-full-width">
                            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                            </mat-list-item>
                    
                      <button mat-menu-item [matMenuTriggerFor]="menu9"> Pick Time </button>
                      <mat-menu #menu9="matMenu">
                          <button mat-menu-item>
                            <span>Morning<span class="time8"> 8:00AM</span></span>
                          </button>
                          <button mat-menu-item >
                            <span>Afternoon 1:00PM</span>
                          </button>
                          <button mat-menu-item>
                            <span>Evening 6:00PM</span>
                          </button>
                          <button mat-menu-item>
                            <span>Night 8:00PM</span>
                          </button>
                          <button mat-menu-item>
                            <span>Custom</span>
                          </button>
                        </mat-menu>
                      <mat-list-item>
                        <button mat-menu-item [matMenuTriggerFor]="menu10">Does not repeat</button>
                         <mat-menu #menu10="matMenu">
                           <button mat-menu-item>
                             <span>Does not repeat</span>
                           </button>
    
                           <button  mat-menu-item >
                              <span>Daily</span>
                            </button>
                           <button  mat-menu-item >
                             <span>weekly</span>
                           </button>
                           <button  mat-menu-item >
                             <span>Monthly</span>
                           </button>
                           <button  mat-menu-item >
                             <span>Yearly</span>
                           </button>
                           <button  mat-menu-item >
                              <span>Custom</span>
                            </button>
                         </mat-menu>
                       
                      </mat-list-item>
    
                      </mat-list>
                    </mat-nav-list>
                     
                    </mat-menu>
                </mat-menu> 

                <button matTooltip="Collaborator" mat-icon-button  >
                  <mat-icon > <img src="../../assets/img/fundoAssests/person.svg" /></mat-icon>
                </button> 
                <button matTooltip="Change color" [matMenuTriggerFor]="buttonMenu" mat-icon-button >
                  <mat-icon > <img src="../../assets/img/fundoAssests/colorlens.svg" /></mat-icon>
                </button> 
                
                <mat-menu [overlapTrigger]="false" #buttonMenu="matMenu">
                  <button matTooltip="Yellow" (click)="setColor(n,'#fcf476')" mat-mini-fab class="colorlens" style="background-color:#fcf476"></button>
                  <button matTooltip="Orange" (click)="setColor(n,'#f8bc04')" mat-mini-fab class="colorlens" style="background-color:#f8bc04 "></button>
                  <button matTooltip="Red" (click)="setColor(n,'#f28b82')" mat-mini-fab class="colorlens" style="background-color:#f28b82 "></button>
                  <button matTooltip="White" (click)="setColor(n,'#ffffff')" mat-mini-fab class="colorlens" style="background-color:#ffffff "></button>
                  <br />
                  <button matTooltip="Dark blue" (click)="setColor(n,'#aecbfa')" mat-mini-fab class="colorlens" style="background-color:#aecbfa "></button>
                  <button matTooltip="Blue" (click)="setColor(n,'#cbf0f8')" mat-mini-fab class="colorlens" style="background-color:#cbf0f8 "></button>
                  <button matTooltip="Teal" (click)="setColor(n,'#a7ffea')" mat-mini-fab class="colorlens" style="background-color:#a7ffea "></button>
                  <button matTooltip="Green" (click)="setColor(n,'#ccff90')" mat-mini-fab class="colorlens" style="background-color:#ccff90 "></button>
                  <br />
                  <button matTooltip="Gray" (click)="setColor(n,'#e8eaed')" mat-mini-fab class="colorlens" style="background-color:#e8eaed "></button>
                  <button matTooltip="Brown" (click)="setColor(n,'#e6c9a8')" mat-mini-fab class="colorlens" style="background-color:#e6c9a8 "></button>
                  <button matTooltip="Pink" (click)="setColor(n,'#fccfe8')" mat-mini-fab class="colorlens" style="background-color:#fccfe8 "></button>
                  <button matTooltip="Purple" (click)="setColor(n,'#d7aefb')" mat-mini-fab class="colorlens" style="background-color:#d7aefb "></button>
                </mat-menu>

                <button matTooltip="Add image" mat-icon-button   >
                  <mat-icon > <img src="../../assets/img/fundoAssests/photo.svg" /></mat-icon>
                </button> 
                  <button matTooltip="Archive" mat-icon-button  >
                    <mat-icon > <img src="../../assets/img/fundoAssests/archive2.svg" /></mat-icon>
                </button> 
                <!-- <button  mat-icon-button (click)="deleteNote(n)" >
                  <mat-icon> <img src="../../assets/img/fundoAssests/more.svg" /></mat-icon>
              </button>  -->

              <button matTooltip="More" mat-icon-button [matMenuTriggerFor]="auth" >
                <mat-icon> <img src="../../assets/img/fundoAssests/more.svg" /></mat-icon>
              </button>
              <mat-menu #auth="matMenu">
                  <button (click)="deleteNote(n)" mat-menu-item>Delete note</button> 
                  <button mat-menu-item>Add label</button>
                  <button mat-menu-item>Add drawing</button>
                  <button mat-menu-item>Make a copy</button>
                  <button mat-menu-item>Show checkboxes</button>
                  <button mat-menu-item>Copy to Google Docs</button>
              </mat-menu>

            </div>
              </mat-card>

            </div>
          </mat-grid-list>
      </div>
      
<!-- </div> -->
